<section class="w-100 d-flex justify-content-center align-items-center position-relative" id="section-general">
    <div class="about-me d-grid">
        <div class="about-me-description d-flex flex-column align-items-start position-relative">
            <h3 class="text-white">Olá, tudo bem?</h3>
            <p class="text-secondary" data-weight="auto"> Sou João Pedro Canhete, de Foz do Iguaçu - PR, estudante de
                Análise e Desenvolvimento de Sistemas. Tenho experiência em projetos Java, tanto com Java Swing para
                interfaces quanto com Spring Boot para web, além de desenvolver front-ends com Angular e TypeScript,
                permitindo prototipar e validar rapidamente. Confira minha página de projetos para saber mais sobre as
                ferramentas que uso! </p>
            <p class="text-secondary"> Nas horas vagas, gosto de futebol, videogames e boas séries. Sempre aberto a
                novas ideias e projetos, então sinta-se à vontade para me enviar uma mensagem! </p>
            <div>
                <a href="" class="button" id="about-me-button">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: var(--space-s);" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                    <span class="text-button">
                        Envie-me uma mensagem
                    </span>
                </a>
            </div>
        </div>
        <div class="about-me-image d-flex flex-column align-items-start mb-4">
            <div class="separator-container" aria-hidden="true">
                <div class="separator">
                    <div class="line"></div>
                    <div class="notch"></div>
                </div>
                <span class="section-number" style="color: #8800ff;">Sobre Mim</span>
            </div>
            <div>
                <img src='https://junkielabs.in/assets/img/showcase/products/cases/rang_mahal/rang_mahal_listing.webp'
                    alt="Project Example" class="about-me-img d-grid">
            </div>
        </div>
    </div>
</section>