:root {
  /* Cores */
  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);
  --background-color: oklch(17.76% 0 0);
  --background-light: oklch(21.78% 0 0);
  --primary: oklch(84.42% 0.19 202.24);
  --accent: oklch(84.42% 0.19 202.24);
  --error: oklch(65.91% 0.249 13.76);
  --text: var(--white);
  --text-title: var(--text);
  --text-body: color-mix(in lab, var(--text) 80%, transparent);
  --text-light: color-mix(in lab, var(--text) 60%, transparent);

  /* Fontes */
  --system-font-stack: system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  --font-stack: 'Gotham', var(--system-font-stack);
  --mono-font-stack: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --japanese-font-stack: 'IPA Gothic', ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Sans, Osaka, メイリオ, Meiryo, Segoe UI, sans-serif;

  /* Pesos da fonte */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Tamanhos da fonte */
  --font-size-h0: 8.75rem;
  /* Correspondente a pxToRem(140) */
  --font-size-h1: 6.25rem;
  /* Correspondente a pxToRem(100) */
  --font-size-h2: 3.625rem;
  /* Correspondente a pxToRem(58) */
  --font-size-h3: 2.25rem;
  /* Correspondente a pxToRem(38) */
  --font-size-h4: 1.75rem;
  /* Correspondente a pxToRem(28) */
  --font-size-h5: 1.5rem;
  /* Correspondente a pxToRem(24) */
  --font-size-body-xl: 1.375rem;
  /* Correspondente a pxToRem(22) */
  --font-size-body-l: 1.25rem;
  /* Correspondente a pxToRem(20) */
  --font-size-body-m: 1.125rem;
  /* Correspondente a pxToRem(18) */
  --font-size-body-s: 1rem;
  /* Correspondente a pxToRem(16) */
  --font-size-body-xs: 0.875rem;
  /* Correspondente a pxToRem(14) */

  /* Altura da linha */
  --line-height-title: 1.1;
  --line-height-body: 1.6;

  /* Larguras máximas */
  --max-width-s: 540px;
  --max-width-m: 720px;
  --max-width-l: 1096px;
  --max-width-xl: 1680px;

  /* Espaçamento */
  --space-outer: 64px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-ss: 14px;
  --space-m: 16px;
  --space-l: 24px;
  --space-ll: 29px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;
  --space-5xl: 128px;
  --space-6xl: 160px;

  /* Z-index */
  --z-index-0: 0;
  --z-index-1: 4;
  --z-index-2: 8;
  --z-index-3: 16;
  --z-index-4: 32;
  --z-index-5: 64;

  /* Durações */
  --duration-xs: 200ms;
  --duration-s: 300ms;
  --duration-m: 400ms;
  --duration-l: 600ms;
  --duration-xl: 800ms;

}


@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-medium.woff2') format('woff2'),
    url('assets/fonts/gotham-book.woff2') format('woff2'),
    url('assets/fonts/ipa-gothic.woff2') format('woff2'),
    url('assets/fonts/gotham-medium-italic.woff2') format('woff2');
  font-style: normal;
}

html, body {
  font-family: var(--font-stack);
  background-color: var(--background-color);
  font-weight: var(--font-weight-regular);
  color: var(--text-body);
  width: 100vw;
  overflow-x: hidden !important;
  opacity: 1
}


img, video, iframe {
  max-width: 100%;
  height: auto;
}


p {
  font-family: var(--system-font-stack);
  line-height: var(--line-height-body);
  color: var(--text-body);

}


#section-general {
  max-height: 1080px;
  height: 100vh;
  padding-bottom: var(--space-l);
  padding-right: var(--space-5xl);
  padding-left: calc(var(--space-4xl)* 2);
  box-sizing: border-box;
  margin-top: 0;
}

@media (max-width: 2080px) {
  #section-general {
    margin: var(--space-2xl) 0 !important;
  }
}




@media (max-width: 1092px) {
  #section-general {
    height: auto !important;
    margin: var(--space-5xl) 0 !important;
    padding-left: var(--space-l) !important;
    padding-right: var(--space-l) !important;
  }
}

@media (max-width: 1001px) {
  #section-general {
    padding-left: calc(var(--space-4xl) + var(--space-3xl));
    padding-right: var(--space-5xl);
    /*padding-right: var(--space-4xl) !important;
    padding-left: var(--space-2xl) !important;*/
  }
}

/*@media (max-width: 768px) {
  #section-general {
    padding-right: var(--space-2xl) !important;
  }
}/*


@media (max-width: 600px),
(max-height: 600px) {
  #section-general {
    height: auto !important;
    margin: var(--space-5xl) 0 !important;
    padding-left: var(--space-m) !important;
    }
    }
    
    @media (max-width: 696px),
    (max-height: 696px) {
      #section-general {
        padding-left: var(--space-s) !important;
        padding-right: var(--space-s) !important;
      }
    }

/*botao de projetos*/
.button {
  display: inline-flex;
  position: relative;
  height: 3.5rem;
  padding: 0 24px;
  background-color: #8800ff;
  margin-top: 32px;
  color: #fff;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
  transition: background-color 0.3s ease;
}




.separator-container {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: var(--space-m);
  align-items: center;
  margin-bottom: var(--space-xl);
}

.separator {
  position: relative;
  width: 100%;
  height: 2px;
}

.line {
  width: 100%;
  height: 100%;
  background-color: #8800ff;
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--durationL);
  /*n uso ainda*/
  transition-timing-function: var(--bezierFastoutSlowin);
  /*n uso ainda*/
  transition-delay: var(--collapseDelay);
  /*n uso ainda*/
  transform-origin: left center;
  transform: scaleX(1);
}

.notch {
  background-color: #8800ff;
  position: absolute;
  transition-property: opacity;
  transition-duration: var(--durationL);
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-delay: var(--collapseDelay);
  opacity: 1;
  clip-path: polygon(0 -1px, 100% -1px, calc(100% - 10px) 100%, 10px 100%);
  width: 64px;
  height: 8px;
  top: 2px;
}